@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(213, 213, 213);
  background-color: #1e1e1e;
  font-family: 'JetBrains Mono', '幼圆' !important;
}

:root {
  --td-font-family: 'JetBrains Mono', '幼圆' !important;
  --td-brand-color: white !important;
}

::-webkit-scrollbar {
  width: 5px;
  height: 4px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--td-gray-color-5);
}
::-webkit-scrollbar-track {
  border-radius: 0;
  background: var(--td-gray-color-5);
}
html[theme-mode='dark'] ::-webkit-scrollbar-thumb {
  background: var(--td-gray-color-10);
}
html[theme-mode='dark'] ::-webkit-scrollbar-track {
  background: transparent !important;
}

pre {
  background-color: var(--td-gray-color-12);
  padding: 20px;
  border-radius: 10px;
  margin: 10px 0px;
  overflow-x: scroll;
}

code {
  background-color: var(--td-brand-color-6);
  padding: 0px 8px;
  border-radius: 2px;
}

pre > code {
  background-color: transparent !important;
}

p a {
  text-decoration: underline !important;
  color: var(--td-warning-color-7);
}

ul a {
  text-decoration: underline !important;
  color: var(--td-warning-color-7);
}


.t-dialog__ctx .t-dialog{
  padding-right: 12px;
  padding-top: 15px;
}
.t-dialog__header{
  padding-bottom: 15px;
}